---
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@/utils/slugify";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";

type Props = {
  variant?: "h2" | "h3";
} & CollectionEntry<"blog">;

const { variant: Heading = "h2", id, data, filePath } = Astro.props;

const { title, description, ...props } = data;
---

<li class="my-2">
  <a
    href={getPath(id, filePath)}
    class="group block w-full rounded-lg py-3 px-4 transition-all hover:bg-muted"
  >
    <div class="flex flex-col items-start">
      <Datetime {...props} />
      <Heading
        class="mt-1 text-xl font-bold transition-all"
        style={{ viewTransitionName: slugifyStr(title.replaceAll(".", "-")) }}
      >
        {title}
      </Heading>
      <p class="mt-1 text-base leading-7 opacity-80">{description}</p>
    </div>
  </a>
</li>
